
.Dedicated-Servers {
    display: flex;
    padding: 100px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    line-height: 40px;
  }
  .Dedicated-Servers p {
    font-size: 18px;
    line-height: 1.5;
    color: #949494;
  }
  .Dedicated-Servers-header span {
    display: flex;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
    color: #212529;
  }
  .Dedicated-Servers-footer {
    display: flex;
    flex-direction: column;
    text-align: start;
  }
  
  .Dedicated-Servers-footer span {
    color: #ee5586;
    font-size: 20px;
  }
  