
.service-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 243, 243);
    height: auto;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
  }
  
  .service-main {
    width: 80%;
    margin: 0 auto;
  }
  
  .service-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    gap: 3rem;
  }
  
  .service-fade-in {
    flex: .6;
    padding: 10px;
    animation: fadeIn 1s ease-in-out;
  }
  
  .service-icon {
    width: 80%;
   
  }
  
  .service-info-offset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: .4;
    padding: 10px;
  }
  
  .service-info {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    text-align: start;
  }
  
  .service-info h4 {
    font-size: 1.5rem;
    padding-bottom: 20px;
  }
  .service-info p {
    font-size: 1rem;
    color: #808080;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FDD700;
    color: black;
    text-decoration: none;
    border: none;
    border-radius: 25px;
  }
  
  .service-btn-yellow {
    background-color: yellow;
  }
  
  .mt-3 {
    margin-top: 15px;
  }
  
  /* Keyframe animation for fade-in effect */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }





  
  .service-container{
    width: 100%;
  }

    
  .service-main{
    background-color: white;
    padding: 20px;
    
  }